    .newdiv{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
    }
    .animation-wrapper {
        width: 60%;
        padding-bottom: 80%;
    }

    .sphere-animation {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 50%;
        height: 50%;
        margin: -150px 0 0 -290px;
    }

    .sphere path {
        fill: url(#sphereGradient);
        stroke-width: 1px;
        stroke: rgba(80, 80, 80, .35);
        backface-visibility: hidden;
    }

    /* @media (min-width: 500px) {
        .sphere path {
            stroke-width: .4px;
        }
    } */

@media only screen and (min-width: 360px){
    .animation-wrapper {
        width: 50%;
        padding-bottom: 45%;
    
    }
    .sphere-animation {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 580px;
        height: 450px;
        margin: -250px 0 0 -290px;
    }

        .sphere path {
            stroke-width: .4px;
        }
}

@media only screen and (min-width: 460px){
    .animation-wrapper {
        width: 50%;
        padding-bottom: 45%;
    }
    .sphere-animation {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 580px;
        height: 580px;
        margin: -250px 0 0 -290px;
    }

    .sphere path {
        stroke-width: .4px;
    }
}

@media only screen and (min-width: 576px) {
    .animation-wrapper {
        width: 50%;
        padding-bottom: 45%;
    }
    .sphere-animation {
        position: absolute;
        top: 35%;
        left: 50%;
        width: 580px;
        height: 580px;
        margin: -250px 0 0 -290px;
    }

    .sphere path {
        stroke-width: .4px;
    }
}
@media only screen and (min-width: 768px) {
    .animation-wrapper {
        width: 50%;
        padding-bottom: 45%;
    }
    .sphere-animation {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 580px;
        height: 550px;
        margin: -250px 0 0 -290px;
    }

    .sphere path {
        stroke-width: .4px;
    }
}

@media only screen and (min-width: 992px) {
    .animation-wrapper {
        width: 50%;
        padding-bottom: 45%;
    }
    .sphere-animation {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 580px;
        height: 580px;
        margin: -250px 0 0 -290px;
    }

    .sphere path {
        stroke-width: .4px;
    }
}

@media only screen and (min-width: 1200px) {
    .animation-wrapper {
        width: 50%;
        padding-bottom: 45%;
    }
    .sphere-animation {
        position: absolute;
        top: 35%;
        left: 50%;
        width: 580px;
        height: 500px;
        margin: -200px 0 0 -290px;
    }

    .sphere path {
        stroke-width: .4px;
    }
}

@media only screen and (min-width: 1400px) {
    .animation-wrapper {
        width: 60%;
        padding-bottom: 60%;
    }
    .sphere-animation {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 580px;
        height: 580px;
        margin: -250px 0 0 -290px;
    }

    .sphere path {
        stroke-width: .4px;
    }
}

/* @media only screen and (max-width: 1920px) {
    .animation-wrapper {
            width: 60%;
            padding-bottom: 45%;
        }
    .sphere-animation {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 580px;
        height: 580px;
        margin: -250px 0 0 -290px;
    }

    .sphere path {
        stroke-width: .4px;
    }
} */